# 1 - Preparação

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
DF_RAW = pd.read_csv('./data/df_raw.csv')
DF_RAW.tail()

,Unnamed: 0,Date_imp,Date_imp_d,Cluster,Category_name,name,price,disc_price,merchant,condition,...,sourceURLs,weight,Date_imp_d.1,Day_n,month,month_n,day,Week_Number,Zscore_1,price_std
23146,29588,2017-06-01 10:00:00,2017/06/01,25,"sound, speaker, home",naxa - 2.1-Channel Soundbar with 50-Watt Digit...,58.99,58.99,Bestbuy.com,New,...,https://www.bestbuy.com/site/naxa-2-1-channel-...,4.1 pounds,2017/06/01,Thursday,6,June,1,22,-0.715264,34.396428
23147,29589,2017-08-15 15:00:00,2017/08/15,25,"sound, speaker, home",naxa - 2.1-Channel Soundbar with 50-Watt Digit...,63.99,58.49,Walmart.com,New,...,https://www.walmart.com/ip/Naxa-42-Sound-bar-w...,4.1 pounds,2017/08/15,Tuesday,8,August,15,33,-0.353013,11.434096
23148,29590,2017-07-23 00:00:00,2017/07/23,25,"sound, speaker, home",naxa - 2.1-Channel Soundbar with 50-Watt Digit...,63.99,58.49,Walmart.com,New,...,https://www.walmart.com/ip/Naxa-42-Sound-bar-w...,4.1 pounds,2017/07/23,Sunday,7,July,23,29,-0.353013,11.434096
23149,29591,2017-11-12 08:00:00,2017/11/12,25,"sound, speaker, home",naxa - 2.1-Channel Soundbar with 50-Watt Digit...,81.52,81.52,Walmart.com,New,...,https://www.walmart.com/ip/Naxa-42-Sound-bar-w...,4.1 pounds,2017/11/12,Sunday,11,November,12,45,1.128629,11.434096
23150,29592,2017-12-14 06:00:00,2017/12/14,25,"sound, speaker, home",naxa - 2.1-Channel Soundbar with 50-Watt Digit...,58.99,58.99,Walmart.com,New,...,https://www.walmart.com/ip/Naxa-42-Sound-bar-w...,4.1 pounds,2017/12/14,Thursday,12,December,14,50,-0.775615,11.434096

In [19]:
DF_RAW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23151 entries, 0 to 23150
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       23151 non-null  int64
 1   Date_imp         23151 non-null  object
 2   Date_imp_d       23151 non-null  object
 3   Cluster          23151 non-null  int64
 4   Category_name    23151 non-null  object
 5   name             23151 non-null  object
 6   price            23151 non-null  float64
 7   disc_price       23151 non-null  float64
 8   merchant         23151 non-null  object
 9   condition        23151 non-null  object
 10  Disc_percentage  23151 non-null  float64
 11  isSale           23151 non-null  object
 12  Imp_count        23151 non-null  int64
 13  brand            23151 non-null  object
 14  p_description    23151 non-null  object
 15  currency         23151 non-null  object
 16  dateAdded        23151 non-null  object
 17  dateSeen         23151 non-null  object
 18  dateUpdated      23151 non-null  object
 19  imageURLs        455 non-null    object
 20  manufacturer     12512 non-null  object
 21  shipping         11654 non-null  object
 22  sourceURLs       18221 non-null  object
 23  weight           23083 non-null  object
 24  Date_imp_d.1     23151 non-null  object
 25  Day_n            23151 non-null  object
 26  month            23151 non-null  int64
 27  month_n          23151 non-null  object
 28  day              23151 non-null  int64
 29  Week_Number      23151 non-null  int64
 30  Zscore_1         22980 non-null  float64
 31  price_std        23151 non-null  float64
dtypes: float64(5), int64(6), object(21)
memory usage: 5.7+ MB

In [20]:
DF_RAW.describe()

,Unnamed: 0,Cluster,price,disc_price,Disc_percentage,Imp_count,month,day,Week_Number,Zscore_1,price_std
count,23151.000000,23151.000000,23151.000000,23151.000000,23151.000000,23151.000000,23151.000000,23151.000000,23151.000000,22980.000000,23151.000000
mean,15338.318431,22.682735,513.037803,494.104295,0.016933,6.560926,7.651030,15.693879,31.342750,0.153249,61.992819
std,8528.805636,15.576818,859.110002,808.588973,0.077849,5.403166,2.592843,9.681622,11.316498,0.863217,125.495128
min,4.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-2.996396,0.004472
25%,7897.500000,8.000000,82.990000,79.990000,0.000000,2.000000,6.000000,7.000000,23.000000,-0.675928,7.771104
50%,15613.000000,20.000000,199.990000,199.000000,0.000000,5.000000,8.000000,16.000000,32.000000,0.206829,18.764962
75%,22678.000000,35.000000,540.000000,516.490000,0.000000,10.000000,9.000000,24.000000,38.000000,0.707107,59.176162
max,29592.000000,57.000000,10879.950000,10879.950000,0.800000,31.000000,12.000000,31.000000,51.000000,2.999945,1423.902118

In [21]:
DF_RAW.isna().sum()

Unnamed: 0             0
Date_imp               0
Date_imp_d             0
Cluster                0
Category_name          0
name                   0
price                  0
disc_price             0
merchant               0
condition              0
Disc_percentage        0
isSale                 0
Imp_count              0
brand                  0
p_description          0
currency               0
dateAdded              0
dateSeen               0
dateUpdated            0
imageURLs          22696
manufacturer       10639
shipping           11497
sourceURLs          4930
weight                68
Date_imp_d.1           0
Day_n                  0
month                  0
month_n                0
day                    0
Week_Number            0
Zscore_1             171
price_std              0
dtype: int64

# 2 - Limpeza

In [22]:
df_clear = DF_RAW.copy()

In [23]:
# Remove colunas que não serão usadas
df_clear = df_clear.drop(columns={  'Unnamed: 0', 'Date_imp', 'Cluster', 'condition', 'sourceURLs', 'Date_imp_d.1', 'Zscore_1', 'price_std', 'imageURLs', 'shipping', 'weight', 'currency'})
# Altera nome das colunas
df_clear.columns = ['date_imp', 'category_name', 'name', 'price', 'disc_price', 'merchant', 'disc_percentage', 'is_sale', 'imp_count', 'brand', 'p_description', 'dateadded', 'dateseen',
                    'dateupdated', 'manufacturer', 'day_n', 'month', 'month_n', 'day', 'week_number']
# Altera tipo de dado
df_clear['date_imp'] = pd.to_datetime(df_clear['date_imp'])

In [24]:
df_clear.isna().sum()

date_imp               0
category_name          0
name                   0
price                  0
disc_price             0
merchant               0
disc_percentage        0
is_sale                0
imp_count              0
brand                  0
p_description          0
dateadded              0
dateseen               0
dateupdated            0
manufacturer       10639
day_n                  0
month                  0
month_n                0
day                    0
week_number            0
dtype: int64

# 3 - Estatística descritiva

In [27]:
df_clear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23151 entries, 0 to 23150
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date_imp         23151 non-null  datetime64[ns]
 1   category_name    23151 non-null  object
 2   name             23151 non-null  object
 3   price            23151 non-null  float64
 4   disc_price       23151 non-null  float64
 5   merchant         23151 non-null  object
 6   disc_percentage  23151 non-null  float64
 7   is_sale          23151 non-null  object
 8   imp_count        23151 non-null  int64
 9   brand            23151 non-null  object
 10  p_description    23151 non-null  object
 11  dateadded        23151 non-null  object
 12  dateseen         23151 non-null  object
 13  dateupdated      23151 non-null  object
 14  manufacturer     12512 non-null  object
 15  day_n            23151 non-null  object
 16  month            23151 non-null  int64
 17  month_n          23151 non-null  object
 18  day              23151 non-null  int64
 19  week_number      23151 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(4), object(12)
memory usage: 3.5+ MB

In [36]:
# Separa colunas númericas e categoricas
nums = df_clear.select_dtypes( include=['float64', 'int64']).columns.tolist()
cats = df_clear.select_dtypes( exclude=['float64', 'int64', 'datetime64[ns]']).columns.tolist()

## 3.1 - Atributos numéricos

In [37]:
# Tendencia central e dispersão
df_clear.describe().T

,count,mean,min,25%,50%,75%,max,std
date_imp,23151,2017-08-04 22:21:32.211999488,2017-01-05 00:00:00,2017-06-09 00:00:00,2017-08-10 00:00:00,2017-09-24 00:00:00,2017-12-22 00:00:00,NaN
price,23151.0,513.037803,1.0,82.99,199.99,540.0,10879.95,859.110002
disc_price,23151.0,494.104295,1.0,79.99,199.0,516.49,10879.95,808.588973
disc_percentage,23151.0,0.016933,0.0,0.0,0.0,0.0,0.8,0.077849
imp_count,23151.0,6.560926,1.0,2.0,5.0,10.0,31.0,5.403166
month,23151.0,7.65103,1.0,6.0,8.0,9.0,12.0,2.592843
day,23151.0,15.693879,1.0,7.0,16.0,24.0,31.0,9.681622
week_number,23151.0,31.34275,1.0,23.0,32.0,38.0,51.0,11.316498

In [41]:
# Skewness e kurtosis
df_clear[nums].agg(['skew', 'kurtosis']).T

                     skew   kurtosis
price            4.595160  34.411146
disc_price       4.748349  39.612839
disc_percentage  5.217632  28.754920
imp_count        1.286351   1.639569
month           -0.099417  -0.628859
day              0.032258  -1.331838
week_number     -0.266980  -0.648027

In [38]:
# Range
df_clear[nums].max() - df_clear[nums].min()

price              10878.95
disc_price         10878.95
disc_percentage        0.80
imp_count             30.00
month                 11.00
day                   30.00
week_number           50.00
dtype: float64